body{
    margin: 0%;
    padding: 0%;
    background: linear-gradient(to right, #2193b0, #61045F);
    overflow: hidden;
}
.container h1{
    text-align: center;
    color: #fff;
}
.container{
    margin: 100px auto;
    padding: 50px;
    text-align: center;
}
button{
    border: none;
    padding: 18px 10px;
    font-size: 1.5em;
    width: 180px;
    margin: 10px;
    border-radius: 15px;
    color: #61045F;
    font-weight: bold;
    display: inline-block;
}
#time{
    color: #ffff;
    font-size: 40px;
}
button:hover{
    cursor: pointer;
    background-color: #61045F;
    color: #ffff;
    transition: 0.4s;
    border: none;
}